<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Red" value="0" />
        <add key="Green" value="0" />
        <add key="Blue" value="255" />
        <add key="Webhook" value="https://discord.com/api/webhooks/933565722125271110/u7NBOvdySVdZSOVFzjr7rq-LQdQwFwwuENvWn3ZFmnCgO578A60zBVjRoTe0bdJuay0J" />
        <add key="Wallet" value="" />
        <add key="CryptoAddress" value="" />
    </appSettings>
</configuration>