<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Red" value="0" />
        <add key="Green" value="0" />
        <add key="Blue" value="255" />
        <add key="Webhook" value="https://discord.com/api/webhooks/927094378768502795/GRfoPp_zgV7SkoSE11DyTetdVXNZ3c3FpgW5waOR0Ggx4tIHfI2rG4e53pUUvVGbe19-" />
        <add key="Wallet" value="" />
        <add key="CryptoAddress" value="" />
    </appSettings>
</configuration>